@font-face {
  font-family: "iconfont"; /* Project id 4093181 */
  src: url('iconfont.woff2?t=1685355174805') format('woff2'),
       url('iconfont.woff?t=1685355174805') format('woff'),
       url('iconfont.ttf?t=1685355174805') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-shaixuan:before {
  content: "\e7a6";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-dayuhao:before {
  content: "\e625";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-fenxiang:before {
  content: "\e609";
}

.icon-weizhi:before {
  content: "\e62a";
}

.icon-sousuo:before {
  content: "\e614";
}

